<div>
  <h1>{{ todo.id ? "Edit" : "Add" }} Todo</h1>
  <form class="submit-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="todo.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="todo.description"
        name="description"
      />
    </div>

    <button class="btn btn-success" type="submit">
      {{ todo.id ? "Update" : "Create" }}
    </button>
  </form>
</div>
